@layer tayasui.reset, tayasui.base, tayasui.components, app;

:root[data-theme="basic"] {
  /* Colors - Background */
  --color-bg-ground: #f0f2f5;
  --color-bg-primary: #fafafa;

  /* Colors - Text */
  --color-fg-primary: #333333;
  --color-fg-secondary: #779;
  --color-fg-tertiary: #99a;
  --color-fg-disabled: #aaa;

  --color-bg-cta: #4492e7;
  --color-bg-cta-hover: #58a8ff;
  --color-fg-cta: #fff;
  --color-fg-link: #58a8ff;
  --color-fg-link-hover: #58a8ff;

  --color-border: #d1d9e0;
  --color-border-secondary: #e0e0e0;
  --color-border-hover: #c0c5d6;

  /* Colors - Status */
  --color-fg-highlight: #007aff;
  --color-bg-highlight: #ddeeff;
  --color-fg-warn: #f0a30a;
  --color-bg-warn: #fff8e6;
  --color-fg-danger: #e03b30;
  --color-bg-danger: #ffebeb;
  --color-fg-success: #1a7f37;
  --color-bg-success: #dafbe1;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;

  --border-radius-s: 3px;
  --border-radius-m: 6px;
  --border-radius-full: 999px;

  --shadow-m: 0 3px 8px rgba(0, 0, 0, 0.06);

  /* Spacing (TODO: consolidate with the above) */
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  --font-family-text: Palatino, serif;
  --font-family-display: Palatino, serif;
  /** TODO: need a better name for this */
  --font-family-micro: system-ui, sans-serif;
}
