:root {
  /* Colors - Background */
  --color-bg-brand: #d0daff;
  --color-bg-0: #f0f0f5;
  --color-bg-300: #f5f5f5;
  --color-bg-400: #f8f8f8;
  --color-bg-500: #fafafa;
  --color-bg-900: #ffffff;

  /* Colors - Text */
  --color-fg-primary: #333333;
  --color-fg-secondary: #777;
  --color-fg-tertiary: #999;
  --color-fg-disabled: #aaa;

  --color-bg-cta: #549ceb;
  --color-bg-cta-hover: #58a8ff;
  --color-fg-cta: #fff;

  --color-border: #d1d9e0;
  --color-border-secondary: #e0e0e0;
  --color-border-hover: #d0d5e6;

  /* Colors - Status */
  --color-fg-highlight: #007aff;
  --color-fg-danger: #e03b30;
  --color-bg-danger: #ffebeb;
  --color-fg-success: #1a7f37;
  --color-bg-success: #dafbe1;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;

  --border-radius-s: 2px;
  --border-radius-m: 6px;
  --border-radius-full: 999px;

  --shadow-m: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Stack Spacing (sp prefix) */
  --sp-xs: 0.25rem;
  --sp-s: 0.5rem;
  --sp-m: 1rem;
  --sp-l: 2rem;

  /* Spacing (TODO: consolidate with the above) */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;


  --font-family-text: Palatino, serif;
  --font-family-display: Palatino, serif;
  /** TODO: need a better name for this */
  --font-family-micro: system-ui, sans-serif;
}
