/**
# `<dropdown-i>`

Initial notes
* need popovertargetaction to close dropdown via button (suggest JS shim)

```html
<dropdown-i>
  <button popovertarget="menu-a">
    Open dropdown
  </button>
  <div id="menu-a" popover aria-label="More actions">
    <button>Action 1</button>
    <button>Action 2, longer label</button>
    <button popovertarget="menu-a" popovertargetaction="hide">
      <span>Action 3, even longer such that there should be ellipsis</span>
    </button>
  </div>
</dropdown-i>
```

```html
<dropdown-i>
  <button popovertarget="menu-b">
    Open multiselect
  </button>
  <fieldset id="menu-b" popover>
    <legend>Options</legend>
    <label>
      <input type="checkbox" name="x" /> Click me
    </label>
    <label>
      <input type="checkbox" name="y" /> And also me
    </label>
    <label>
      <input type="checkbox" name="z" /> And then me too
    </label>
  </fieldset>
</dropdown-i>
```

```html
<dropdown-i>
  <button popovertarget="menu-c">
    Open single select
  </button>
  <fieldset id="menu-c" popover>
    <legend>Sort by</legend>
    <label>
      <input type="radio" name="r" value="created" /> Created at
    </label>
    <label>
      <input type="radio" name="r" value="updated" /> Updated at
    </label>
    <label>
      <input type="radio" name="r" value="title" /> Title
    </label>
  </fieldset>
</dropdown-i>
```

## Gaps/Future

* There's currently no standard way to make arrow keys work as expected to navigate dropdowns without adding JS handlers. You can write your own progressive enhancement to handle this, and in the future, hopefully there will be [focusgroup](https://open-ui.org/components/scoped-focusgroup.explainer/) to add this in a declarative way

## References

* https://developer.chrome.com/docs/css-ui/anchor-positioning-api

**/
dropdown-i {
  /* inherited by [popover] */
  max-width: 20em;
  --pad: var(--spacing-s);
  --pad-item-side: var(--spacing-m);

  > [popover] {
    /* overrides for default popover styles in facets.css */
    left: anchor(left);
    max-width: inherit;
    padding: var(--pad);

    &:popover-open {
      display: flex;
      flex-direction: column;
    }

    > button,
    > [data-as="button"],
    > label {
      display: flex;
      min-width: 0;
      gap: var(--spacing-m);
      background: none;
      border: none;
      border-radius: var(--border-radius-s);
      color: inherit;
      padding: var(--pad) var(--pad-item-side);
      justify-content: flex-start;
      transform: none;

      &:hover,
      &:active,
      &:focus,
      &:has(:focus) {
        background: var(--color-bg-highlight);
      }

      /* because button above is a flex container, any long text that might need ellipsis needs to
       * be wrapped in a span */
      > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    > legend {
      padding: 0 var(--pad-item-side);
      float: left;
      text-transform: uppercase;
      color: var(--color-fg-secondary);
      font-family: var(--font-family-micro);
      font-size: var(--font-size-xs);
    }
  }
}
