/**
# `<tooltip-i>`

## ⚠ Experimental, limited browser support

Hoverable tooltips. Uses [Interest Invokers](https://caniuse.com/wf-interest-invokers) which are not yet widely supported (Chromium-only as of this writing). You can write a JS polyfill to call `popover.showPopover()` and `popover.hidePopover()` on pointerover/pointerout and focusin/focusout events in other browsers.

```html
<button interestfor="tooltip-x">
  I have a tooltip
</button>
<tooltip-i>
  <div role="tooltip" id="tooltip-x" popover>
    This is the button's tooltip content
  </div>
</tooltip-i>
```

```html
<p>
  Also, with interestfor, <a href="#" interestfor="tooltip-link">links</a> can also trigger tooltips
</p>
<tooltip-i>
  <div role="tooltip" id="tooltip-link" popover>
    This is the link's tooltip content
  </div>
</tooltip-i>
```

## TODO

* multiple positions (above/below/left/right)
* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position-try

## References

* https://developer.mozilla.org/en-US/docs/Web/API/Popover_API/Using_interest_invokers
* https://frontendmasters.com/blog/using-the-popover-api-for-html-tooltips/
* https://developer.mozilla.org/en-US/docs/Web/API/Popover_API/Using#popover_anchor_positioning

**/
tooltip-i {
  --arrow-size: 6px;

  > [popover] {
    /* Note: uses common [popover] styles from facets.css */
    margin-top: calc(1.2 * var(--arrow-size));

    /* css generated content arrow */
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      translate: -50% 0;
      width: calc(2 * var(--arrow-size));
      height: var(--arrow-size);
      background-color: var(--color-bg-floating, var(--color-bg-primary));
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }

    transition:
      opacity 0.2s,
      transform 0.2s;

    @starting-style {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
