body {
  display: flex;
  padding: 1rem 0;
}

nav {
  height: fit-content;
  min-width: 200px;
  padding: var(--spacing-l);
  position: sticky;
  top: 0;

  h2 {
    color: var(--color-fg-secondary);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family-micro, --font-family-text);
  }

  a {
    display: block;
    text-decoration: none;
  }

  a[aria-current="page"] {
    color: inherit;
    text-decoration: none;
  }
}

pre:has(code) {
  background-color: var(--color-bg-ground);
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-l);
}

code {
  font-size-adjust: 0.5;
}

main {
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-m);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* FIXME: update this */
  max-width: 50em;
  padding: var(--spacing-l);
  flex: 1;
}

main>h2 {
  margin: 2rem calc(var(--spacing-l) * -1) 0.5rem;
  border-top: 1px solid var(--color-border);
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  font-family: monospace;

  &::before {
    content: "<";
    color: var(--color-fg-tertiary);
  }

  &::after {
    content: ">";
    color: var(--color-fg-tertiary);
  }
}

/* used to demo layout components */
demo-block {
  border: 1px solid var(--color-border);
  color: var(--color-fg-secondary);
  padding: 1rem;
  border-radius: var(--border-radius-m);
  font-weight: bold;

  &:nth-of-type(1)::before {
    content: "A";
  }

  &:nth-of-type(2)::before {
    content: "B";
  }

  &:nth-of-type(3)::before {
    content: "C";
  }

  &:nth-of-type(4)::before {
    content: "D";
  }
}
