/* TODO: change to alert[type="banner"] and alert[type="callout"] (left border) */
alert-i {
  --color: var(--color-fg-highlight);
  --bg: var(--color-bg-highlight);
  --padding: var(--sp-m);

  background-color: var(--bg);
  border: 1px solid currentColor;
  color: var(--color);
  display: block;
  padding: var(--padding);
  border-radius: var(--border-radius-m);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }

  &[level="success"] {
    --color: var(--color-fg-success);
    --bg: var(--color-bg-success);
  }

  &[level="danger"] {
    --color: var(--color-fg-danger);
    --bg: var(--color-bg-danger);
  }

  &[variant="callout"] {
    background: none;
    border: none;
    border-radius: 0;
    border-left: 4px solid var(--color);
    color: inherit;
    padding: var(--sp-xs) var(--padding);

    /* would use :heading, but not supported by most browsers yet */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color);
    }
  }
}
