/* Base application of custom properties to built-in elements */

@layer tayasui.base {
  html {
    background-color: var(--color-bg-ground);
    color: var(--color-fg-primary);
    font-family: var(--font-family-text);
    font-size: var(--font-size-m);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  /* todo headings? */

  a {
    color: var(--color-fg-link);
  }

  a:hover {
    color: var(--color-fg-link-hover);
  }

  input,
  textarea,
  select {
    accent-color: var(--color-bg-cta);
    background: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);
    padding: var(--spacing-xs) var(--spacing-s);

    &[type="range"] {
      padding: 0;
    }

    &::placeholder {
      color: var(--color-fg-tertiary);
    }
  }

  /* auto-grow textareas by default. Use with min-width/width and max-height to constrain to surroundings */
  textarea {
    field-sizing: content;
  }

  /* Improve usability a bit by making input labels visibly clickable */
  label:has(input) {
    cursor: pointer;
  }
}
