/**
# `<card-i>`

```html
<card-i>
  <h1>Card Title</h1>
  <p>Card content</p>
</card-i>
```
**/

card-i,
[data-as="card-i"] {
  --radius: var(--border-radius-m);
  --pad: var(--spacing-l);
  --gap: var(--spacing-s);
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
  display: flex;
  flex-direction: column;
  /* overridable with the gap attribute */
  gap: var(--gap);
  /* overridable with pad and vpad attributes */
  padding: var(--spacing-l);

  /* for <a data-as="card-i"> */
  text-decoration: none;
  /* prevent <a data-as="card-i"> from using the default link color */
  color: inherit;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }

  card-cover-i:first-child,
  [data-as="card-cover-i"]:first-child {
    max-width: calc(100% + 2 * var(--pad));
    margin: calc(var(--pad) * -1);
    margin-bottom: calc(var(--pad) - var(--gap));
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
}
