/**
# `<card-i>`

example usage:
```html
<card-i>
  <h1>Card Title</h1>
  <p>Card content</p>
</card-i>
```
**/

card-i,
[data-as="card-i"] {
  background: var(--color-bg-500);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-l);

  /* for <a data-as="card-i"> */
  text-decoration: none;
  /* prevent <a data-as="card-i"> from using the default link color */
  color: inherit;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }

  &[padding="s"] {
    padding: var(--spacing-s);
  }
}
