/**
# `<container-i>`

A container component. Provides a responsive container with a max-width and centered content.

```html
   <container-i>
     <h1>Page Title</h1>
     <p>Content within a centered container</p>
   </container-i>
```
**/
container-i,
[data-as="container-i"] {
  --vpad: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width-max, 1100px);
  min-width: 300px;
  padding-bottom: var(--vpad);
  padding-top: var(--vpad);
  width: 100%;

  &[direction="row"],
  &[direction="responsive"] {
    flex-direction: row;
  }

  &[direction="row-reverse"] {
    flex-direction: row-reverse;
  }

  &[variant="narrow"] {
    max-width: var(--container-width-narrow, 400px);
  }

  &[gap="s"] {
    gap: var(--spacing-s);
  }

  &[gap="m"] {
    gap: var(--spacing-m);
  }

  &[gap="l"] {
    gap: var(--spacing-l);
  }

  &[vpad="s"] {
    --vpad: var(--spacing-s);
  }

  &[vpad="m"] {
    --vpad: var(--spacing-m);
  }

  &[vpad="l"] {
    --vpad: var(--spacing-l);
  }

  &[vpad="xl"] {
    --vpad: var(--spacing-xl);
  }
}

@media (max-width: 767px) {

  container-i,
  [data-as="container-i"] {
    padding-left: var(--spacing-mobile-side-padding, 1rem);
    padding-right: var(--spacing-mobile-side-padding, 1rem);

    &[direction="responsive"] {
      flex-direction: column;
    }
  }
}
