vstack-i,
hstack-i,
[data-as="hstack-i"],
[data-as="vstack-i"],
container-i,
[data-as="container-i"],
card-i,
[data-as="card-i"] {
  &[gap="xs"] {
    gap: var(--spacing-xs);
  }

  &[gap="s"] {
    gap: var(--spacing-s);
  }

  &[gap="m"] {
    gap: var(--spacing-m);
  }

  &[gap="l"] {
    gap: var(--spacing-l);
  }

  /* All around padding */
  &[pad="none"] {
    padding: 0;
  }

  &[pad="xs"] {
    padding: var(--spacing-xs);
  }

  &[pad="s"] {
    padding: var(--spacing-s);
  }

  &[pad="m"] {
    padding: var(--spacing-m);
  }

  &[pad="l"] {
    padding: var(--spacing-l);
  }

  &[pad="xl"] {
    padding: var(--spacing-xl);
  }

  /* Vertical padding */
  &[vpad="none"] {
    padding-block: 0;
  }

  &[vpad="xs"] {
    padding-block: var(--spacing-xs);
  }

  &[vpad="s"] {
    padding-block: var(--spacing-s);
  }

  &[vpad="m"] {
    padding-block: var(--spacing-m);
  }

  &[vpad="l"] {
    padding-block: var(--spacing-l);
  }

  &[vpad="xl"] {
    padding-block: var(--spacing-xl);
  }
}

skeleton-i,
badge-i {
  &[radius="none"] {
    border-radius: 0;
  }

  &[radius="m"] {
    border-radius: var(--border-radius-m);
  }

  &[radius="l"] {
    border-radius: var(--border-radius-l);
  }

  &[radius="full"] {
    border-radius: var(--border-radius-full);
  }
}
