/**
* example usage:
*   <labelledfield-i>
*     <label>
*       <small>My Label</small>
*       <input type="text" name="test" />
*     </label>
*   </labelledfield-i>
*/

labelledfield-i {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  --side-padding: var(--spacing-m);

  small {
    position: absolute;
    top: 0px;
    pointer-events: none;

    color: var(--color-fg-secondary);
    display: block;
    font-family: var(--font-family-micro, --font-family-text);
    font-size: var(--font-size-xs);
    font-weight: 600;
    padding: 5px var(--side-padding) 0;
  }

  input,
  select,
  textarea {
    flex: 1 0 auto;
    padding: var(--spacing-m) var(--side-padding) 0;
    min-height: 55px;
    min-width: 170px;
    background: var(--color-bg-500);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);

    &:hover {
      border-color: var(--color-border-hover);
    }
  }

  textarea {
    padding-top: var(--spacing-l);
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    color: var(--color-fg-primary);
    cursor: pointer;
  }

  /* Support for <div role="alert"> error messages below the input */
  input:user-invalid~[role="alert"] {
    color: var(--color-fg-danger);
  }
}
