/**
* example usage:
*   <labelledfield-i>
*     <label>
*       <span>My Label</span>
*       <input type="text" name="test" />
*     </label>
*   </labelledfield-i>
*/

labelledfield-i {
  --side-pad: var(--spacing-m);
  --border: var(--color-border);
  position: relative;
  display: inline-flex;
  /* TODO: add propert(ies) to override this */
  flex: 1;
  flex-direction: column;
  align-self: flex-start;

  label {
    display: flex;
  }

  label>span:first-child {
    position: absolute;
    top: 0px;
    pointer-events: none;

    color: var(--color-fg-secondary);
    display: block;
    font-family: var(--font-family-micro, --font-family-text);
    font-size: var(--font-size-xs);
    font-weight: 600;
    padding: 5px var(--side-pad) 0;
  }

  input,
  select,
  textarea {
    flex: 1 0 auto;
    padding: var(--spacing-m) var(--side-pad) 0;
    min-height: 55px;
    background: var(--color-bg-500);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-s);

    &:not(:user-invalid):hover {
      --border: var(--color-border-hover);
    }
  }

  textarea {
    padding-top: var(--spacing-l);
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    color: var(--color-fg-primary);
    cursor: pointer;
  }

  /* Support for <div role="alert"> error messages below the input */
  input:user-invalid~[role="alert"] {
    color: var(--color-fg-warning);
  }

  &:has(:user-invalid) {
    --border: var(--color-fg-warn);

    span {
      color: var(--border);
    }
  }
}

:focus-visible {
  outline-offset: 3px;
}
