/**
# `<skeleton-i>`

Basic skeleton loading component. Only provides a single box; combine with layout primitives
to create more complex loading states.

```html
<skeleton-i></skeleton-i>
<skeleton-i width="s"></skeleton-i>
<skeleton-i radius="full"></skeleton-i>
```
 **/
@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

skeleton-i {
  --shimmer: rgba(255, 255, 255, 0.3);
  background: var(--color-fg-skeleton, #eaeaea);
  border-radius: var(--border-radius-s);
  overflow: hidden;
  position: relative;
  display: block;
  height: var(--height, 1.4em);
  width: var(--width, 100%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(135deg,
        transparent,
        var(--shimmer),
        transparent);
    animation: shimmer 2s infinite;
  }

  &[width="xs"] {
    width: 25%;
  }

  &[width="s"] {
    width: 50%;
  }

  &[width="m"] {
    width: 75%;
  }

  &[width="l"] {
    width: 100%;
  }
}
