:root {
  --sp-xs: 0.25rem;
  --sp-s: 0.5rem;
  --sp-m: 1rem;
  --sp-l: 2rem;
}

vstack-i {
  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
}

hstack-i {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--sp-s);
}

vstack-i,
hstack-i {
  &[gap="xs"] {
    gap: var(--sp-xs);
  }

  &[gap="s"] {
    gap: var(--sp-s);
  }

  &[gap="m"] {
    gap: var(--sp-m);
  }

  &[gap="l"] {
    gap: var(--sp-l);
  }

  &[align="start"] {
    align-items: flex-start;
  }

  &[align="end"] {
    align-items: flex-end;
  }

  &[align="baseline"] {
    align-items: baseline;
  }

  &[align="center"] {
    align-items: center;
  }

  &[align="stretch"] {
    align-items: stretch;
  }

  &[justify="center"] {
    justify-content: center;
  }

  &[justify="space-between"] {
    justify-content: space-between;
  }

  &[justify="space-around"] {
    justify-content: space-around;
  }

  &[justify="space-evenly"] {
    justify-content: space-evenly;
  }

  &[justify="flex-end"] {
    justify-content: flex-end;
  }

  &[wrap="wrap"] {
    flex-wrap: wrap;
  }

  &[wrap="nowrap"] {
    flex-wrap: nowrap;
  }

  &[wrap="wrap-reverse"] {
    flex-wrap: wrap-reverse;
  }
}

/* Prevent svg icons from getting squished */
hstack-i>svg,
vstack-i>svg {
  flex-shrink: 0;
}

/* TODO: investigate container query support */
@media (max-width: 900px) {
  hstack-i[breakpoint="m"] {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 450px) {
  hstack-i[breakpoint="s"] {
    flex-direction: column;
    align-items: stretch;
  }
}
