/**
# `<switch-i>`

A toggle that can be used to turn something on or off. This wraps a checkbox which stores the
state of the toggle.

```html
<switch-i>
 <input type="checkbox" name="someField" id="test" />
</switch-i>
<label htmlFor="test">My cool field</label>
```
**/

switch-i {
  --pad: var(--spacing-xxs);
  --h: 1rem;
  --w: calc(var(--h) * 2.5);

  /* prevents extra margin below switch */
  display: flex;

  /* todo: clean up spacing values */
  input[type="checkbox"] {
    appearance: none;
    background: var(--color-fg-disabled);
    display: inline-block;
    border: none;
    border-radius: var(--border-radius-full);
    padding: var(--pad);
    width: var(--w);
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: var(--h);
      height: var(--h);
      border-radius: var(--border-radius-full);
      background: var(--color-bg-900, #fff);
      transition: all 0.2s ease-out;
    }

    &:checked {
      background: var(--color-fg-highlight);

      &::before {
        /* move the pseudo element so it's --pad away from the right edge */
        transform: translateX(calc(var(--w) - var(--h) - 2 * var(--pad)));
      }
    }
  }
}
