/* usage (child must be a checkbox):
*   <switch-i>
*     <input type="checkbox" name="someField" id="test" />
*   </switch-i>
*   <label htmlFor="test">Test</label>
*/

switch-i {
  /* prevent extra margin below switch */
  display: flex;
}

/* todo: parameterize with colors and clean up rem values */
switch-i input[type="checkbox"] {
  appearance: none;
  background: var(--color-fg-disabled);
  display: inline-block;
  border-radius: var(--border-radius-full);
  padding: 4px;
  width: 3rem;
  cursor: pointer;

  /* input[type="checkbox"] { */
  /*   display: none; */
  /* } */
}

switch-i input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: var(--border-radius-full);
  background: var(--color-bg-900, #fff);
  transition: all 0.2s ease-in-out;
}

switch-i input:checked {
  background: var(--color-fg-highlight);

  &::before {
    transform: translateX(1.25rem);
  }
}
