zstack-i {
  display: grid;
  place-content: center;
  width: fit-content;
  --spread: 4px;
  /* TODO: make this configurable via property? */
  --expanded-spread: 20px;

  &:hover {
    --spread: var(--expanded-spread);
  }

  >* {
    grid-area: 1 / 1;
    transition: transform 0.2s ease-in-out;
  }

  &[arrange=fan-up]>*:nth-child(n+2) {
    transform: translateY(calc(var(--n) * -1 * var(--spread)));
  }

  &[arrange=fan-right]>*:nth-child(n+2) {
    transform: translateX(calc(var(--n) * var(--spread)));
  }

  >*:nth-child(2) {
    --n: 1;
  }

  >*:nth-child(3) {
    --n: 2;
  }

  >*:nth-child(4) {
    --n: 3;
  }

  >*:nth-child(5) {
    --n: 4;
  }

  >*:nth-child(6) {
    --n: 5;
  }

  >*:nth-child(7) {
    --n: 6;
  }

  >*:nth-child(8) {
    --n: 7;
  }

  >*:nth-child(9) {
    --n: 8;
  }
}
