/**
# `<alert-i>`

```html
<alert-i level="success">
  <h2>Success</h2>
  <p>This is a success alert</p>
</alert-i>

<alert-i level="warn">
  <h2>Warning</h2>
  <p>This is a warning alert</p>
</alert-i>

<alert-i level="danger">
  <h2>Danger</h2>
  <p>This is a danger alert</p>
</alert-i>
```
**/
alert-i {
  --color: var(--color-fg-highlight);
  --bg: var(--color-bg-highlight);
  --padding: var(--spacing-m);
  --gap: var(--spacing-xs);

  background-color: var(--bg);
  border: 0.5px solid currentColor;
  color: var(--color);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
  border-radius: var(--border-radius-m);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }

  &[level="success"] {
    --color: var(--color-fg-success);
    --bg: var(--color-bg-success);
  }

  &[level="warn"] {
    --color: var(--color-fg-warn);
    --bg: var(--color-bg-warn);
  }

  &[level="danger"] {
    --color: var(--color-fg-danger);
    --bg: var(--color-bg-danger);
  }
}
