/**
# `<badge-i>`

```html
<hstack-i>
  <badge-i>Primary</badge-i>
  <badge-i type="neutral">Neutral</badge-i>
  <badge-i type="danger" radius="full">Danger</badge-i>
  <badge-i type="warn" radius="full">Warn</badge-i>
  <badge-i type="success" radius="full">Success</badge-i>
</hstack-i>
```
```html
<hstack-i>
  <badge-i type="neutral" contenteditable>Default</badge-i>
  <badge-i type="neutral" radius="none" contenteditable>No radius</badge-i>
  <badge-i type="neutral" radius="full" contenteditable>Full radius</badge-i>
</hstack-i>
```
**/
badge-i {
  align-items: center;
  background: var(--color-bg-highlight);
  border-radius: var(--border-radius-m);
  color: var(--color-fg-highlight);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-micro, --font-family-text);
  font-weight: 500;
  display: inline-flex;
  line-height: 1;
  padding: var(--spacing-xs) var(--spacing-s);
  gap: var(--spacing-xs);

  &[type="danger"] {
    color: var(--color-fg-danger);
    background: var(--color-bg-danger);
  }

  &[type="neutral"] {
    color: inherit;
    background: none;
    border: 1px solid var(--color-border);
  }

  &[type="warn"] {
    color: var(--color-fg-warn);
    background: var(--color-bg-warn);
  }

  &[type="success"] {
    color: var(--color-fg-success);
    background: var(--color-bg-success);
  }
}
