/**
# `<skeleton-i>`

Basic skeleton loading component with a shimmer effect.

```html
<skeleton-i></skeleton-i>
```
```html
<skeleton-i width="s"></skeleton-i>
```
```html
<skeleton-i radius="full"></skeleton-i>
```

This component only provides a single box; combine it with layout primitives to create more complex loading states.

```html
<vstack-i>
  <skeleton-i></skeleton-i>
  <skeleton-i></skeleton-i>
  <skeleton-i width="m"></skeleton-i>
</vstack-i>
```

```html
<hstack-i>
  <skeleton-i style="--width: 2rem; --height: 2rem;" radius="full"></skeleton-i>
  <skeleton-i></skeleton-i>
</hstack-i>
```
 **/
@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

skeleton-i {
  --shimmer: rgba(255, 255, 255, 0.3);
  background: var(--color-fg-skeleton, #eaeaea);
  border-radius: var(--border-radius-s);
  overflow: hidden;
  position: relative;
  display: block;
  height: var(--height, 1.4em);
  width: var(--width, 100%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    min-width: 200px;
    height: 100%;
    background: linear-gradient(135deg,
        transparent 0,
        transparent 20%,
        var(--shimmer) 50%,
        transparent 80%,
        transparent 100%);
    animation: shimmer 2s infinite;
  }

  &[width="xs"] {
    width: 25%;
  }

  &[width="s"] {
    width: 50%;
  }

  &[width="m"] {
    width: 75%;
  }

  &[width="l"] {
    width: 100%;
  }
}
